.changeFlexGrow {
    flex-grow: 0 !important;
}

.removeBlue {
    text-decoration: none !important;
    color: inherit !important;
}

/*.cardImgSize {*/
/*    width: 10rem;*/
/*    height: 10rem;*/
/*}*/

.backgroundIMG {
    background-color: transparent;
}
